#not-optimized-for-iphone
  %h3 This page not optimized for the iPhone

  %p
    The list management features of this site have not been optimized for iPhone use.
    Feel free to use this site in your iPhone web browser if you like, but we suggest 
    that you download and use the free iPhone app for managing Listable lists instead.