%h2 Check email confirmation

%p
  Thank you for creating a Listable account.  Please check for the activation email we just sent you.

%p{:style => "padding-left: 55px"}= image_tag('email.med.png', :height => 100, :width => 150)

%p{:style => "font-size: smaller"}= link_to('Listable home page', '/')