%h2 Privacy Policy

%p 
  This is the Privacy Policy of the ListableApp web site (the "Site"), operated by Stack Builders Inc. 
  (together with our affiliates and subsidiaries, "ListableApp", "we", "us", "our" and terms of similar meaning) 
  and our related products and services. It describes the information that we collect from you as part of the 
  normal operation of our Site, and how we use and disclose this information.

%p 
  By accepting the Privacy Policy in registration or by visiting and using the Site, you expressly consent to 
  our collection, use and disclosure of your personal information in accordance with this Privacy Policy. 
  This Privacy Policy is incorporated into and subject to our Terms of Use.

%p
  In this Privacy Policy, we use the following terms to describe different types of visitors to our Site. 
  Our customers are called "Subscribers." These people are collectively described in this Privacy Policy as
  "Users" of our Site.

%h3 How We Use Your Information

%p
  We use personal information in the file we maintain about you, and other information we obtain from your 
  current and past activities on the Site, to provide to you the services offered by the Site; troubleshoot 
  problems; measure consumer interest 
  in our products and services, inform you about online and offline offers, products, services, events and 
  updates; deliver information to you that, in some cases, is relevant to your interests, such as product news; 
  customize your experience; detect and protect us against error, fraud and other criminal activity; enforce our
  Terms of Use; provide you with system or administrative messages, and as otherwise described to you at the 
  time of collection. On occasion we use email address or other contact information to contact our Users to 
  ask them for their input on our services.

%p
  We may also use personal information about you to improve our marketing and promotional efforts, to analyze 
  Site usage, to improve our content and product offerings, and to customize the Site's content, layout, and 
  services. These uses improve the Site and better tailor it to meet your needs, so as to provide you with a 
  smooth, efficient, safe and customized experience while using the Site.

%h3 What Information Do We Collect?

%p
  Our primary purpose in collecting personal information from you is to provide you with a safe, smooth, 
  efficient, and customized experience. This allows us to provide services and features that most likely 
  meet your needs, and to customize our service to make your experience safer and easier. We only collect 
  personal information about you that we consider necessary for achieving this purpose.

%p
  In general, you can browse the Site without telling us who you are or revealing any personal information 
  about yourself. Once you become a User, we require you to provide minimal contact and identity information,
  billing information, and other personal information as indicated on the relevant forms on the Site 
  (which vary, depending on what kind of User you are), and you are no longer anonymous to us. Where possible, 
  on these forms we indicate which fields are required and which fields are optional.

%p
  In addition, as you use the Site, you can from time to time enter or send to us personal information. 
  This personal information is often included in the lists which are stored on our servers.  These lists
  may also contain information about other parties as they are entered into your list.

%p
  You always have the option to not provide information by choosing not to become a User or by not using 
  the particular feature of the Site for which the information is being collected.

%p
  We also automatically track certain information about you based upon your behavior on our Site. 
  We use this information to do internal research on our users' demographics, interests, and behavior 
  to better understand, protect and serve you and our community. This information may include the URL 
  that you just came from (whether this URL is on our Site or not), which URL you next go to (whether 
  this URL is on our Site or not), your computer browser information, and your IP address.

%p
  "Cookies" are small files placed on your hard drive that assist us in providing our services. 
  We use cookies to allow you to enter your password less frequently during a session, and we use 
  data collection devices (such as Google Analytics), including cookies, on certain pages of the 
  Site to help analyze our web page flow, measure promotional effectiveness, and promote trust 
  and safety, to offer certain features that are only available through the use of a cookie and 
  to allow us to provide information that is targeted to your interests.

%p
  Following your registration on the Site, you can review and change your information in your 
  account area. If you disclose personal information in any list and
  wish to have it removed, please contact us at the support contact information posted on the Site.

%h3 Our Disclosure of Your Information

%p
  We will not sell or rent your personally identifiable information to third parties without your explicit 
  consent. The following describes some of the ways that your information may be disclosed in the normal 
  scope of business to provide our services:

%p
  Subsidiaries and Affiliates; Service Providers. We may from time to time use the services of affiliates, 
  subsidiaries and unrelated service providers in the operation of the Site, and may disclose personal 
  information to them in the course of our use of their services. For example, we may use the services of 
  third-party hosting companies to host the operation of the Site. This may involve the hosting of data, 
  including personal information, on servers operated by those hosting companies. We take care to use 
  only service providers that we believe are reputable and able to live up to our and your expectations, 
  including about the handling of confidential information.

%p
  Legal Requests; Emergencies. We cooperate with law enforcement inquiries and demands for information that 
  are made under force of law. Therefore, we may provide personal information to law enforcement agencies in
  what we believe to be emergency situations, we may provide personal information where required by statute, 
  court order, legal process or lawful authority, and we may provide it to our legal counsel in connection 
  with the foregoing.

%p  
  %em Your Use of Other Persons’ Information
  
  In order to facilitate the services provided by the Site, the Site allows you in certain circumstances 
  to give other Users limited access to lists containing the information of other users.  By entering 
  into our Terms of Use, you agree that, with respect to the personal information of other persons 
  that you collect, use and disclose on the Site, you have all necessary consents and rights to 
  collect, use and disclose that information as described in this Privacy Policy from time to time, 
  and you agree that the indemnity you give to us in the Terms of Use applies to any non-compliance 
  by you with the foregoing.

%h3 Security

%h3 Other Information Collectors

%p

  Except as otherwise expressly included in this Privacy Policy, this document only addresses the use 
  and disclosure of information we collect from you. To the extent that you disclose your information 
  to other parties through the Site, whether they are Subscribers or otherwise, different 
  rules may apply to their use, collection and disclosure of the personal information you disclose to them. 
  Since we do not control the information use, collection or disclosure policies of third parties, you 
  are subject to their privacy policies. We encourage you to ask questions before you disclose your personal 
  information to others.

%h3 Questions?

%p 
  It is our goal to make our privacy practices easy to understand. If you have questions, concerns or if 
  you would like more detailed information, please email us at support@listableapp.com.

